<a href="https://colab.research.google.com/github/Han-JungHyeon/project3/blob/main/Project3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [170]:
import re
import numpy as np
import pandas as pd

**데이터 불러오기**

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [155]:
df_Oriental = pd.read_csv('/content/drive/MyDrive/Colab dataset/Oriental_painting.csv')
df_Masterpiece = pd.read_csv('/content/drive/MyDrive/Colab dataset/Masterpiece.csv')
df_Abstract = pd.read_csv('/content/drive/MyDrive/Colab dataset/Abstract.csv')
df_Contemporary_art = pd.read_csv('/content/drive/MyDrive/Colab dataset/Contemporary_art.csv')
df_Picture = pd.read_csv('/content/drive/MyDrive/Colab dataset/Picture.csv')
df_Illust = pd.read_csv('/content/drive/MyDrive/Colab dataset/Illust.csv')

**데이터 전처리**

In [156]:
df_Oriental.head(3)

,Unnamed: 0,Title,Artist,Hash_tag,Price,URL
0,0,노상탁발,신윤복 (Sin Yun-bok),#풍속화 #내츄럴 #스토리,"43,000 원",https://www.wart.or.kr/product/%EB%85%B8%EC%83...
1,1,무무도,신윤복 (Sin Yun-bok),#풍속화 #내츄럴 #새로움,"43,000 원",https://www.wart.or.kr/product/%EB%AC%B4%EB%AC...
2,2,문종심사,신윤복 (Sin Yun-bok),#인물화 #내츄럴 #스토리,"43,000 원",https://www.wart.or.kr/product/%EB%AC%B8%EC%A2...

In [157]:
Oriental = df_Oriental.iloc[:, 1:]
Oriental['Price'] = Oriental['Price'].str.replace(pat=r'[ㄱ-ㅣ가-힣]+', repl= r'', regex=True)
Oriental.head(3)

,Title,Artist,Hash_tag,Price,URL
0,노상탁발,신윤복 (Sin Yun-bok),#풍속화 #내츄럴 #스토리,"43,000",https://www.wart.or.kr/product/%EB%85%B8%EC%83...
1,무무도,신윤복 (Sin Yun-bok),#풍속화 #내츄럴 #새로움,"43,000",https://www.wart.or.kr/product/%EB%AC%B4%EB%AC...
2,문종심사,신윤복 (Sin Yun-bok),#인물화 #내츄럴 #스토리,"43,000",https://www.wart.or.kr/product/%EB%AC%B8%EC%A2...

In [158]:
df_Masterpiece.head(3)

,Unnamed: 0,Title,Artist,Hash_tag,Price,URL
0,0,건조대가 있는 집,에곤 쉴레 (Egon Schiele),#표현주의 #빈티지 #인물,"43,000 원",https://www.wart.co.kr/product/%EA%B1%B4%EC%A1...
1,1,엄마와 딸,에곤 쉴레 (Egon Schiele),#표현주의 #빈티지 #인물,"43,000 원",https://www.wart.co.kr/product/%EC%97%84%EB%A7...
2,2,라일락,파니 브레이트 (Fanny Brate),#인상주의 #쉐비 #꽃,"43,000 원",https://www.wart.co.kr/product/%EB%9D%BC%EC%9D...

In [159]:
Masterpiece = df_Masterpiece.iloc[:, 1:]
Masterpiece['Price'] = Masterpiece['Price'].str.replace(pat=r'[ㄱ-ㅣ가-힣]+', repl= r'', regex=True)
Masterpiece.head(3)

,Title,Artist,Hash_tag,Price,URL
0,건조대가 있는 집,에곤 쉴레 (Egon Schiele),#표현주의 #빈티지 #인물,"43,000",https://www.wart.co.kr/product/%EA%B1%B4%EC%A1...
1,엄마와 딸,에곤 쉴레 (Egon Schiele),#표현주의 #빈티지 #인물,"43,000",https://www.wart.co.kr/product/%EC%97%84%EB%A7...
2,라일락,파니 브레이트 (Fanny Brate),#인상주의 #쉐비 #꽃,"43,000",https://www.wart.co.kr/product/%EB%9D%BC%EC%9D...

In [160]:
df_Abstract.head(4)

,Unnamed: 0,Title,Artist,Hash_tag,Price,URL
0,0,이우환 선으로부터 판화 에디션 작품 그림액자 5종 기획전,이우환(Lee Ufan),NaN,"248,000 원",https://www.wart.co.kr/product/%EC%9D%B4%EC%9A...
1,1,"위아트 단독, 감동을 건네주는 김환기 한정판 추상화 기획전",김환기(Kim Whan-ki),#김환기 #추상화 #환기미술관,"550,000 원",https://www.wart.co.kr/product/%EC%9C%84%EC%95...
2,2,다복의 상징 풍수 행복을 담다 달항아리 기획전,NaN,#사진 #모던 #여유,"53,000 원",https://www.wart.co.kr/product/%EB%8B%A4%EB%B3...
3,3,무제,자코모 발라 (Giacomo Balla),#입체파 #러스틱 #차분함,"58,000 원",https://www.wart.co.kr/product/%EB%AC%B4%EC%A0...

In [161]:
Abstract = df_Abstract.dropna()
Abstract = Abstract.iloc[1:, 1:]
Abstract['Price'] = Abstract['Price'].str.replace(pat=r'[ㄱ-ㅣ가-힣]+', repl= r'', regex=True)
Abstract.head(3)

,Title,Artist,Hash_tag,Price,URL
3,무제,자코모 발라 (Giacomo Balla),#입체파 #러스틱 #차분함,"58,000",https://www.wart.co.kr/product/%EB%AC%B4%EC%A0...
4,태양 앞을 지나는 수성,자코모 발라 (Giacomo Balla),#입체파 #모던 #희망,"58,000",https://www.wart.co.kr/product/%ED%83%9C%EC%96...
5,이탈리아 퓨처리즘,자코모 발라 (Giacomo Balla),#입체파 #빈티지 #창의력,"58,000",https://www.wart.co.kr/product/%EC%9D%B4%ED%83...

In [162]:
df_Contemporary_art.head(3)

,Unnamed: 0,Title,Artist,Hash_tag,Price,URL
0,0,flow #104,호리나오코(Hori Naoko),#일러스트 #컬러풀 #유니크,"47,000 원",https://www.wart.co.kr/product/flow-104/13442/...
1,1,flow #103,호리나오코(Hori Naoko),#일러스트 #컬러풀 #유니크,"47,000 원",https://www.wart.co.kr/product/flow-103/13441/...
2,2,flow #102,호리나오코(Hori Naoko),#일러스트 #컬러풀 #유니크,"47,000 원",https://www.wart.co.kr/product/flow-102/13440/...

In [163]:
Contemporary_art = df_Contemporary_art.dropna()
Contemporary_art = Contemporary_art.iloc[:, 1:]
Contemporary_art['Price'] = Contemporary_art['Price'].str.replace(pat=r'[ㄱ-ㅣ가-힣]+', repl= r'', regex=True)
Contemporary_art.head(3)

,Title,Artist,Hash_tag,Price,URL
0,flow #104,호리나오코(Hori Naoko),#일러스트 #컬러풀 #유니크,"47,000",https://www.wart.co.kr/product/flow-104/13442/...
1,flow #103,호리나오코(Hori Naoko),#일러스트 #컬러풀 #유니크,"47,000",https://www.wart.co.kr/product/flow-103/13441/...
2,flow #102,호리나오코(Hori Naoko),#일러스트 #컬러풀 #유니크,"47,000",https://www.wart.co.kr/product/flow-102/13440/...

In [164]:
df_Picture.head(3)

,Unnamed: 0,Title,Artist,Hash_tag,Price,URL
0,0,올리브,WE ART,#식물 #내츄럴 #식물,"51,000 원",https://www.wart.co.kr/product/%EC%98%AC%EB%A6...
1,1,리프_2,WE ART,#보테니컬 #내츄럴 #식물,"51,000 원",https://www.wart.co.kr/product/%EB%A6%AC%ED%94...
2,2,몬스테라,WE ART,#식물 #내츄럴 #식물,"51,000 원",https://www.wart.co.kr/product/%EB%AA%AC%EC%8A...

In [165]:
Picture = df_Picture.dropna()
Picture = Picture.iloc[:, 1:]
Picture['Price'] = Picture['Price'].str.replace(pat=r'[ㄱ-ㅣ가-힣]+', repl= r'', regex=True)
Picture.head(3)

,Title,Artist,Hash_tag,Price,URL
0,올리브,WE ART,#식물 #내츄럴 #식물,"51,000",https://www.wart.co.kr/product/%EC%98%AC%EB%A6...
1,리프_2,WE ART,#보테니컬 #내츄럴 #식물,"51,000",https://www.wart.co.kr/product/%EB%A6%AC%ED%94...
2,몬스테라,WE ART,#식물 #내츄럴 #식물,"51,000",https://www.wart.co.kr/product/%EB%AA%AC%EC%8A...

In [173]:
df_Illust.head(3)

,Unnamed: 0,Title,Artist,Hash_tag,Price,URL
0,0,폴카도트,위아트 디자인랩(Weart Design lab),#팝아트 #유니크 #창의력,"51,000 원",https://www.wart.co.kr/product/%ED%8F%B4%EC%B9...
1,1,프리즘,위아트 디자인랩(Weart Design lab),#힙페인팅 #유니크 #창의력,"51,000 원",https://www.wart.co.kr/product/%ED%94%84%EB%A6...
2,2,피스타치오 아그리파,위아트 디자인랩(Weart Design lab),#팝아트 #유니크 #맑은,"51,000 원",https://www.wart.co.kr/product/%ED%94%BC%EC%8A...

In [174]:
Illust = df_Illust.iloc[:, 1:]
Illust['Price'] = Illust['Price'].str.replace(pat=r'[ㄱ-ㅣ가-힣]+', repl= r'', regex=True)
Illust.head(3)

,Title,Artist,Hash_tag,Price,URL
0,폴카도트,위아트 디자인랩(Weart Design lab),#팝아트 #유니크 #창의력,"51,000",https://www.wart.co.kr/product/%ED%8F%B4%EC%B9...
1,프리즘,위아트 디자인랩(Weart Design lab),#힙페인팅 #유니크 #창의력,"51,000",https://www.wart.co.kr/product/%ED%94%84%EB%A6...
2,피스타치오 아그리파,위아트 디자인랩(Weart Design lab),#팝아트 #유니크 #맑은,"51,000",https://www.wart.co.kr/product/%ED%94%BC%EC%8A...

**데이터 합치기**

In [184]:
Oriental_Type = np.repeat('Oriental_painting', len(Oriental))
Oriental['Type'] = Oriental_Type
Masterpiece_Type = np.repeat('Masterpiece', len(Masterpiece))
Masterpiece['Type'] = Masterpiece_Type
Abstract_Type = np.repeat('Abstract', len(Abstract))
Abstract['Type'] = Abstract_Type
Contemporary_art_Type = np.repeat('Contemporary_art', len(Contemporary_art))
Contemporary_art['Type'] = Contemporary_art_Type
Picture_Type = np.repeat('Picture', len(Picture))
Picture['Type'] = Picture_Type
Illust_Type = np.repeat('Illust', len(Illust))
Illust['Type'] = Illust_Type

In [185]:
data = pd.concat([Masterpiece, Abstract, Oriental, Contemporary_art, Picture, Illust], ignore_index=True)
data

,Title,Artist,Hash_tag,Price,URL,Type
0,건조대가 있는 집,에곤 쉴레 (Egon Schiele),#표현주의 #빈티지 #인물,"43,000",https://www.wart.co.kr/product/%EA%B1%B4%EC%A1...,Masterpiece
1,엄마와 딸,에곤 쉴레 (Egon Schiele),#표현주의 #빈티지 #인물,"43,000",https://www.wart.co.kr/product/%EC%97%84%EB%A7...,Masterpiece
2,라일락,파니 브레이트 (Fanny Brate),#인상주의 #쉐비 #꽃,"43,000",https://www.wart.co.kr/product/%EB%9D%BC%EC%9D...,Masterpiece
3,양귀비,칼 라르손 (Carl Larsson),#수채화 #로맨틱 #풍경,"43,000",https://www.wart.co.kr/product/%EC%96%91%EA%B7...,Masterpiece
4,마주보다,칼 라르손 (Carl Larsson),#사실주의 #로멘틱 #힐링,"43,000",https://www.wart.co.kr/product/%EB%A7%88%EC%A3...,Masterpiece
...,...,...,...,...,...,...
4302,Illustration,조지프 크리스천 레이엔데커 (Joseph Christian Leyendecker),#일러스트 #레트로 #포스터,"51,000",https://www.wart.co.kr/product/illustration/74...,Illust
4303,Baby,조지프 크리스천 레이엔데커 (Joseph Christian Leyendecker),#일러스트 #레트로 #포스터,"51,000",https://www.wart.co.kr/product/baby/7461/categ...,Illust
4304,1440-newarrow collar,조지프 크리스천 레이엔데커 (Joseph Christian Leyendecker),#삽화 #레트로 #포스터,"51,000",https://www.wart.co.kr/product/1440-newarrow-c...,Illust
4305,Illustration_10,조지프 크리스천 레이엔데커 (Joseph Christian Leyendecker),#삽화 #레트로 #포스터,"51,000",https://www.wart.co.kr/product/illustration10/...,Illust
4306,Arrow advertising_2,조지프 크리스천 레이엔데커 (Joseph Christian Leyendecker),#삽화 #레트로 #포스터,"51,000",https://www.wart.co.kr/product/arrow-advertisi...,Illust

**데이터 csv로 저장**

In [186]:
data.to_csv('data.csv')
Masterpiece.to_csv('Masterpiece.csv')
Abstract.to_csv('Abstract.csv')
Oriental.to_csv('Oriental_Painting.csv')
Contemporary_art.to_csv('Contemporary_Art.csv')
Picture.to_csv('Picture.csv')
Illust.to_csv('Illust.csv')

**머신러닝 모델: DictVectorizer**

**머신러닝 모델: cosine_similarity**